In [1]:
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
root = "/content/drive/MyDrive/COMP721_Project"

In [3]:
data = os.path.join(root, "Data")

#preprocessing

In [22]:
player_rs_career = pd.read_csv(os.path.join(data, "player_regular_season_career.csv"))
player_rs_career.head()

       ilkid firstname      lastname leag    gp  ...    fgm   fta   ftm   tpa  tpm
0  ABDELAL01      Alaa     Abdelnaby    N   256  ...    620   321   225     3    0
1  ABDULKA01    Kareem  Abdul-jabbar    N  1560  ...  15837  9304  6712    18    1
2  ABDULMA01     Mahmo    Abdul-rauf    N   586  ...   3514  1161  1051  1339  474
3  ABDULTA01     Tariq   Abdul-wahad    N   236  ...    720   529   372    76   18
4  ABDURSH01   Shareef   Abdur-rahim    N   672  ...   4789  4427  3614   477  146

[5 rows x 21 columns]

In [23]:
player_keys = player_rs_career.loc[:,:"leag"]
player_vecs = player_rs_career.loc[:,"gp":]
player_vecs.head()

     gp  minutes    pts  oreb  dreb    reb  ...    fga    fgm   fta   ftm   tpa  tpm
0   256     3200   1465   283   563    846  ...   1236    620   321   225     3    0
1  1560    57446  38387  2975  9394  17440  ...  28307  15837  9304  6712    18    1
2   586    15633   8553   219   868   1087  ...   7943   3514  1161  1051  1339  474
3   236     4808   1830   275   501    776  ...   1726    720   529   372    76   18
4   672    24862  13338  1498  3976   5474  ...  10215   4789  4427  3614   477  146

[5 rows x 17 columns]

In [ ]:
from sklearn.decomposition import FastICA

#Models

##One-Class SVM

In [ ]:
from sklearn import svm

In [7]:
model = svm.OneClassSVM()

## Isolation Forest

In [24]:
from sklearn.ensemble import IsolationForest

In [26]:
model = IsolationForest()

## Covariance

In [30]:
from sklearn.covariance import EllipticEnvelope

In [31]:
model = EllipticEnvelope()

##

#Testing

In [32]:
res = model.fit_predict(player_vecs)
res

/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (65.158623952016796 > 64.739003668089751). You may want to try with a higher value of support_fraction (current value: 0.505).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (69.335237950371322 > 66.778687739813762). You may want to try with a higher value of support_fraction (current value: 0.505).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (84.849632590089470 > 83.445243271202173). You may want to try with a higher value of support_fraction (current value: 0.505).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (69.954471191215077 > 69.772586218854741). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (69.092281465537013 > 68.486171491542507). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (70.232898864994695 > 67.008881375148491). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (70.032651405807883 > 69.687697127158486). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (70.685399600997357 > 68.238630971615720). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (71.240212385688693 > 70.217682286024939). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (69.649668634730062 > 67.796692013425385). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (70.448758522934725 > 68.616634361772469). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (70.596632771333645 > 69.551468350142628). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (69.818802697912759 > 69.616891344817461). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (71.133579603071979 > 70.929287704300094). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/covariance/_robust_covariance.py:189: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (68.623142250205262 > 68.396647805750632). You may want to try with a higher value of support_fraction (current value: 0.503).
  RuntimeWarning,

array([ 1, -1,  1, ...,  1,  1,  1])

In [33]:
players = player_keys.copy()
players["outlier"] = res
players.head(10)

       ilkid firstname      lastname leag  outlier
0  ABDELAL01      Alaa     Abdelnaby    N        1
1  ABDULKA01    Kareem  Abdul-jabbar    N       -1
2  ABDULMA01     Mahmo    Abdul-rauf    N        1
3  ABDULTA01     Tariq   Abdul-wahad    N        1
4  ABDURSH01   Shareef   Abdur-rahim    N       -1
5  ABERNTO01       Tom     Abernethy    N        1
6   ABLEFO01    Forest          Able    N        1
7  ABRAMJO01      John     Abramovic    N        1
8  ACKERDO01    Donald      Ackerman    N        1
9  ACRESMA01      Mark         Acres    N        1